$bordo: #2A0E0E;
$bordo-claro: #581616;
$bege: #DFD8C5;
$fonte-primaria: 'Inter', sans-serif;
$fonte-secundaria: 'Manrope', sans-serif;

@mixin botao-page-cadastro {
    background-color: #453705;
    color: white;
    border: none;
    text-transform: uppercase;
    font-family: $fonte-primaria;
    font-weight: 600;
    letter-spacing: 0.135em;
    padding: 10px 30px;
    width: 40%;
    margin: auto;
    transition: 0.3s all;
    a {
        color: white;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgb(5, 3, 3);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(36, 28, 0, 0.61);
    main {
        width: 70vw;
        height: fit-content;
        background-color: $bege;
        color: $bordo;
        padding: 40px 30px;
        img  {
            width: 80px;
            margin-bottom: 50px;
        }
        h1 {
            font-family: $fonte-secundaria;
            font-weight: 600;
            letter-spacing: 0.12em;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        
        form {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            max-width: 80%;
            margin: 0px auto 40px auto;
            .campos {
                display: flex;
                justify-content: space-between;
                margin: auto;
                .form-esquerda {
                    width: 45%;
                }
                .form-direita {
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
                input[type=text], input[type=password], input[type=email], input[type=tel]{
                    height: 40px;
                    width: 95%;
                    border: none;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.625);
                    margin-bottom: 40px;
                    background: none;
                    padding: 0 0px;
                    &:focus {
                        outline: none;
                        border-bottom: 1.5px solid #782929;
                    }
                }
            }
            input[type=submit] {
                @include botao-page-cadastro();
            }
            
        }

        p {
            text-align: center;
            font-family: $fonte-primaria;
            a {
                text-decoration: none;
                color: #d59021;
                font-weight: 500;
                font-family: $fonte-secundaria;
                &:hover {
                    cursor: pointer;
                    color: #7c5414;
                }
            }
        }

    }
}