$bordo: #2A0E0E;
$bege: #DFD8C5;
$fonte-primaria: 'Inter', sans-serif;
$fonte-secundaria: 'Manrope', sans-serif;

@mixin botao-page-login {
    background-color: #453705;
    color: white;
    border: none;
    text-transform: uppercase;
    font-family: $fonte-primaria;
    font-weight: 600;
    letter-spacing: 0.135em;
    padding: 10px 30px;
    width: 40%;
    margin: auto;
    transition: 0.3s all;
    a {
        color: white;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: rgb(5, 3, 3);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(36, 28, 0, 0.61);
    main {
        background-color: $bordo;
        width: 390px;
        height: 520px;
        background-color: $bege;
        color: $bordo;
        padding: 30px;
        img  {
            width: 80px;
            margin-bottom: 50px;
        }
        h1 {
            font-family: $fonte-secundaria;
            font-weight: 600;
            letter-spacing: 0.12em;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        
        form {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-width: 80%;
            margin: 0px auto 50px auto;
            input[type=text], input[type=password] {
                height: 40px;
                width: 95%;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.419);
                margin-bottom: 40px;
                background-color: rgba(255, 255, 255, 0.248);
                padding: 0 10px;
                &:focus {
                    outline: none;
                }
            }
            input[type=submit] {
                
                @include botao-page-login();
            }
        }

        p {
            text-align: center;
            font-family: $fonte-primaria;
            a {
                text-decoration: none;
                color: #d59021;
                font-weight: 500;
                font-family: $fonte-secundaria;
                &:hover {
                    cursor: pointer;
                    color: #7c5414;
                }
            }
        }
    }
}